<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="./../css/header.css">
</head>
<body>
    <!-- Main Starts -->
    <main class="wrapper">
        <div class="faculty-container">
            <h2 class="faculty hero-header center">Faculty</h2>
            <div class="faculty-member-container">
                <!-- Dynamically Populated -->
            </div>
        </div>
        <div class="member-dialog-area">
            <!-- Dynamically Populated -->
        </div>
    </main>


    <!-- Script  -->
    <script src="./../js/faculty.js"></script>
</body>
</html>