<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="./../css/header.css">
</head>
<body>
    <main class="wrapper">
        <div class="society-info">
            <h2 class="hero-header center">
                Welcome to the WRONSKIANS Student Innovation Society!
            </h2>
            <p class="society-para">
                This student-run, college-wide group is dedicated to supporting, educating, and connecting India’s upcoming innovators.
            </p>
            <p class="society-para">
                As a student, learning to leverage knowledge, building self-confidence, and creating strong relationships are the keys to future success in any field,
                and WRONSKIANS helps you do all three.  Leverage yours (and others’) great ideas, put your imagination and commitment to work, and make something amazing happen.
            </p>
            <p class="society-para">
                The WRONSKIANS Idea Challenge is the launching event to all this excitement!
                The Idea Challenge is a fun way to take the first step towards developing your idea and getting connected to the WRONSKIANS society.
            </p>
        </div>
        <div class="coordinators-container">
            <h2 class="hero-header center">Co-Ordinators</h2>
            <p class="coordinator-name">
                1.President - <span class="bold">Avina Kaur</span> (3rd year)
            </p>
            <p class="coordinator-name">
                2.Vice president - <span class="bold">Saurabh Verma</span> (2nd year)
            </p>
            <p class="coordinator-name">
                3.General Secreatry - <span class="bold">Jasmeet Kaur Batra</span> (2nd year)
            </p>
            <p class="coordinator-name">
                4.Joint Secreatry - <span class="bold">Bhavishya</span> (1st year)
            </p>
        </div>
    </main>
</body>
</html>